{% extends 'base.authenticated.html.twig' %}

{% block title %} 
    {{ 'templates.question.details.title'|trans }} 
{% endblock %}

{% block container %}
    <div class="mt-2">
        <a 
            href="{{ path('app_module_questions', { id: moduleId }) }}" 
            class="btn btn-primary" 
            role="button"
        >
            {{ 'templates.goToModule'|trans }}
        </a>

        {{ component('TriggerModal', {
            modalId: 'deleteQuestionModal',
            buttonClass: 'btn btn-danger',
            buttonBody: 'modal.delete'|trans,
        }) }}

        <div class="mt-2">
            {{ component('UpdateQuestionForm', { 
                questionModel: questionModel,
                questionId: questionId,
                moduleId: moduleId,
            }) }}
        </div>
    </div>

    {{ component('Modal', {
        modalTargetId: 'deleteQuestionModal',
        actionButtonText: 'modal.delete'|trans,
        actionButtonClass: 'btn btn-danger',
        actionButtonHref: path('app_question_delete', {
            moduleId: moduleId,
            questionId: questionId
        })
    }) }}
{% endblock %}
