{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'templates.question.details.title'|trans({ '%id%': question.id }) }} 
{% endblock %}

{% block body %}
    <div class="mt-2">
        <a 
            href="{{ path('app_module_questions', { id: module.id }) }}" 
            class="btn btn-primary" 
            role="button"
        >
            {{ 'templates.video.module'|trans }}
        </a>

        {{ component('TriggerModal', {
            modalId: 'deleteQuestionModal',
            buttonClass: 'btn btn-danger',
            buttonBody: 'templates.question.details.delete'|trans,
        }) }}

        <div class="mt-2">
            {{ component('QuestionForm', { 
                moduleProp: module, 
                questionProp: question, 
            }) }}
        </div>
    </div>

    {{ component('Modal', {
        modalTargetId: 'deleteQuestionModal',
        actionButtonText: 'modal.module.details.delete'|trans,
        actionButtonClass: 'btn btn-danger',
        actionButtonHref: path('app_question_delete', {
            moduleId: module.id,
            questionId: question.id
        })
    }) }}
{% endblock %}
