{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 col-xl-2">
            <nav class="nav nav-pills flex-column">
                <div 
                    class="nav-link"
                >
                    <div class="d-flex flex-column text-muted small">
                        <small class="mb-1">Id: <span class="text-dark">{{ app.user.id }}</span></small>
                        <small class="mb-1">E-mail: <span class="text-dark">{{ app.user.email }}</span></small>
                    </div>
                </div>

                {{ component('NavLink', { 
                    path: path('app_settings_general'),
                    label: 'templates.settings.navLink.general'
                }) }}

                {{ component('NavLink', { 
                    path: path('app_settings_smtp'),
                    label: 'templates.settings.navLink.smtp'
                }) }}

                {{ component('NavLink', { 
                    path: path('app_settings_smtptest'),
                    label: 'templates.settings.navLink.smtpTest'
                }) }}

                {{ component('NavLink', { 
                    path: path('app_settings_test'),
                    label: 'templates.settings.navLink.test'
                }) }}
            </nav>
        </div>
        <div class="col-12 col-xl-10 mt-3 mt-xl-0">
            {% block wrapper %}{% endblock %}
        </div>
    </div>
{% endblock %}