{% extends 'base.authenticated.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-12 col-xl-2">
            <nav class="nav nav-pills flex-column">
                <div 
                    class="nav-link"
                >
                    <div class="d-flex flex-column text-muted small">
                        <small class="mb-1">
                            {{ 'templates.settings.base.info.email'|trans }}:
                            <span class="text-info">{{ app.user.email }}</span>
                        </small>
                        <small class="mb-1">
                            {{ 'templates.settings.base.info.timezone'|trans }}: 
                            <span class="text-info">{{ get_timezone() }}</span>
                        </small>
                    </div>
                </div>

                {{ component('NavLink', { 
                    path: path('app_settings_general'),
                    label: 'templates.settings.base.nav.general'
                }) }}

                {{ component('NavLink', { 
                    path: path('app_settings_smtp'),
                    label: 'templates.settings.base.nav.smtp'
                }) }}

                {{ component('NavLink', { 
                    path: path('app_settings_test'),
                    label: 'templates.settings.base.nav.test'
                }) }}
            </nav>
        </div>
        <div class="col-12 col-xl-10 mt-3 mt-xl-0">
            {% block wrapper %}{% endblock %}
        </div>
    </div>
{% endblock %}