{% extends 'base.authenticated.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-12 col-xl-2">
            <nav class="nav nav-pills flex-column">
                <div 
                    class="nav-link"
                >
                    {% set systemInfo = get_system_info() %}

                    <ul class="list-unstyled mb-0 small">
                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.email'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.currentUserEmail }}</span>
                        </li>

                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.timezone'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.systemTimezone }}</span>
                        </li>

                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.logsPath'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.systemLogsPath }}</span>
                        </li>

                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.videosPath'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.videosPath }}</span>
                        </li>

                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.videosTotalSize'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.videosTotalSize }}</span>
                        </li>

                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.testResultsPath'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.testResultsPath }}</span>
                        </li>

                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.testResultsTotalSize'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.testResultsTotalSize }}</span>
                        </li>

                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.systemTotalSize'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.systemTotalSize }}</span>
                        </li>
                        
                        <li class="mb-1">
                            <span class="text-secondary">{{ 'templates.settings.base.info.systemFreeSpace'|trans }}:</span>
                            <br>
                            <span class="text-info">{{ systemInfo.systemFreeSpace }}</span>
                        </li>
                    </ul>
                </div>

                {{ component('NavLink', { 
                    path: path('app_settings_general'),
                    label: 'templates.settings.base.nav.general'
                }) }}

                {{ component('NavLink', { 
                    path: path('app_settings_smtp'),
                    label: 'templates.settings.base.nav.smtp'
                }) }}

                {{ component('NavLink', { 
                    path: path('app_settings_test'),
                    label: 'templates.settings.base.nav.test'
                }) }}
            </nav>
        </div>
        <div class="col-12 col-xl-10 mt-3 mt-xl-0">
            {% block wrapper %}{% endblock %}
        </div>
    </div>
{% endblock %}