{% extends 'settings/base.html.twig' %}

{% block wrapper %}
    <div>
        <h5>
            {{ 'templates.settings.general.language_header'|trans }}
        </h5>

        <div class="dropdown">
            <button 
                class="btn btn-secondary dropdown-toggle" 
                type="button" 
                id="languageDropdown" 
                data-bs-toggle="dropdown" 
                aria-expanded="false"
            >
                {{ app.request.locale|trans }}
            </button>

            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                {% for locale, link in get_locale_links() %}
                    <li>
                        <a 
                            class="dropdown-item" 
                            href="{{ link }}"
                        >
                            {{ locale|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="mt-5">
        <h5>
            {{ 'templates.settings.general.email_header'|trans }}
        </h5>
        {{ component('UpdateEmailForm') }}
    </div>

    <div class="mt-5">
        <h5>
            {{ 'templates.settings.general.password_header'|trans }}
        </h5>

        {{ component('UpdatePasswordForm') }}
    </div>

{% endblock %}