{% extends 'base.authenticated.html.twig' %}

{% block title %} 
    {{ 'templates.video.details.title'|trans }} 
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-12 col-md-6">
            <a 
                href="{{ path('app_module_videos', { id: moduleId }) }}" 
                class="btn btn-primary" 
                role="button"
            >
                {{ 'templates.goToModule'|trans }}
            </a>

            <a 
                href="{{ path('app_video_download', { id: videoId }) }}"
                data-turbo="false"
                class="btn btn-warning mx-1"
                role="button"
            >
                {{ 'templates.video.details.download'|trans }}
            </a>

            {{ component('TriggerModal', {
                modalId: 'deleteVideoModal',
                buttonClass: 'btn btn-danger',
                buttonBody: 'modal.delete'|trans
            }) }}

            <div class="mt-2">
                {{ component('UpdateVideoForm', {
                    'updateVideoModel': updateVideoModel,
                    'videoId': videoId,
                    'moduleId': moduleId
                }) }}
            </div>
        </div>

        <div class="col-12 col-md-6">
            <video
                controls
                width="100%"
                class="p-1 border rounded"
            >
                <source 
                    src="{{ path('app_video_download', { id: videoId }) }}" 
                />
            </video> 
        </div>
    </div>

    {{ component('Modal', {
        modalTargetId: 'deleteVideoModal',
        actionButtonText: 'modal.delete'|trans,
        actionButtonClass: 'btn btn-danger',
        actionButtonHref: path('app_video_delete', {
            moduleId: moduleId,
            videoId: videoId
        })
    }) }}
{% endblock %}