{% extends 'base.authenticated.html.twig' %}

{% block title %} 
    {{ 'templates.video.details.title'|trans({ '%id%': video.id }) }} 
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-12 col-md-6">
            <a 
                href="{{ path('app_module_videos', { id: moduleId }) }}" 
                class="btn btn-primary" 
                role="button"
            >
                {{ 'templates.goToModule'|trans }}
            </a>

            <a 
                href="{{ path('app_video_download', { id: video.id }) }}"
                class="btn btn-warning mx-1"
                role="button"
            >
                {{ 'templates.video.details.download'|trans }}
            </a>

            {{ component('TriggerModal', {
                modalId: 'deleteVideoModal',
                buttonClass: 'btn btn-danger',
                buttonBody: 'modal.delete'|trans
            }) }}

            <div class="mt-2">
                {{ component('UpdateVideoForm', {
                    'videoProp': video,
                    'moduleIdProp': moduleId
                }) }}
            </div>
        </div>

        <div class="col-12 col-md-6">
            <video
                controls
                width="100%"
                class="p-1 border rounded"
            >
                <source 
                    src="{{ path('app_video_download', { id: video.id }) }}" 
                />
            </video> 
        </div>
    </div>
{% endblock %}