{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'templates.video.details.title'|trans }} 
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {{ 'templates.video.details.id'|trans }}: {{ video.id }}
        </div>
        <div class="card-body">
            <video width="320" height="251.5" controls>
                <source src="{{ path('app_video_watch', { id: video.id }) }}">
            </video> 
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {{ 'templates.video.details.extension'|trans }}: {{ video.file.guessExtension }}
            </li>
            <li class="list-group-item">
                {{ 'templates.video.details.mime_type'|trans }}: {{ video.file.MimeType }}
            </li>
            <li class="list-group-item">
                {{ 'templates.video.details.filename'|trans }}: {{ video.file.ClientOriginalName }}
            </li>
        </ul>
        <div class="card-body">
            <a 
                class="btn btn-warning"
                href="{{ path('app_video_download', { id: video.id }) }}"
            >
            {{ 'templates.video.details.download'|trans }}
            </a>

            {{ component('TriggerModal', {
                modalIdTarget: 'deleteVideoModal',
                buttonClass: 'btn btn-danger',
                buttonBody: 'templates.video.details.delete'|trans,
                defer: true
            }) }}
        </div>
    </div>

    {{ component('Modal', {
        modalId: 'deleteVideoModal',
        modalTitle: 'modal.title'|trans,
        modalBody: 'modal.body'|trans,
        closeButtonText: 'modal.close'|trans,
        actionButtonText: 'modal.video.details.delete'|trans,
        actionButtonClass: 'btn btn-danger',
        actionButtonHref: path('app_video_delete', {
            moduleId: moduleId,
            videoId: video.id
        }),
        defer: true
    }) }}
{% endblock %}