{% extends 'base.html.twig' %}

{% block title %} 
    {{ 'title.module.details'|trans }} 
{% endblock %}

{% block body %}
    <div {{ stimulus_controller('module_details') }}>
        <div class="card">
            <div class="card-header nav nav-tabs p-0">
                <li class="nav-item">
                    <button
                        class="nav-link"
                        data-bs-toggle="tab" 
                        data-bs-target="#tabQuestions"
                        {{ stimulus_target('module_details', 'tabButton') }}
                    >
                        {{ 'module.details.tabQuestions'|trans }}
                    </button>
                </li>

                <li class="nav-item">
                    <button
                        class="nav-link"
                        data-bs-toggle="tab" 
                        data-bs-target="#tabVideos"
                        {{ stimulus_target('module_details', 'tabButton') }}
                    >
                        {{ 'module.details.tabVideos'|trans }}
                    </button>
                </li>
            </div>

            <div class="card-body tab-content p-0">
                <div class="card tab-pane fade" id="tabQuestions">
                    {{ data_table_action_bar(question_data_table_view) }}
                    {{ data_table_table(question_data_table_view) }}
                    {{ data_table_pagination(question_data_table_view) }}
                </div>

                <div class="card tab-pane fade" id="tabVideos">
                    {{ data_table_action_bar(video_data_table_view) }}
                    {{ data_table_table(video_data_table_view) }}
                    {{ data_table_pagination(video_data_table_view) }}
                </div>
            </div>

            <div class="card-footer p-3">
                {{ component('ModuleForm', { moduleProp: module, defer: true }) }}
            </div>
        </div>
    </div>
{% endblock %}
