{% extends '@KreyuDataTable/themes/base.html.twig' %}

{% block action_dropdown_value %}
  <div class="d-inline-block dropdown show">
    <a 
      class="dropdown-toggle {{ dropdownClass | default('btn btn-primary') }}" 
      role="button" 
      data-bs-toggle="dropdown" 
    >
      {{ dropdownLabel|trans }}
    </a>

    <div 
      class="dropdown-menu" 
    >
      {% for item in dropdownItems %}
        <a 
          class="dropdown-item"
          href="{{ item.href }}"
        >
          {{ item.label|trans }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block action_upload_file_value %}
  <button 
    {% with { attr } %}
      {{ block('attributes') }}
    {% endwith %} 
    data-bs-toggle="modal" 
    data-bs-target="#uploadFileModal"
  >
    {{ label|trans }}
  </button>

  <div 
    class="modal fade" 
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    id="uploadFileModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="uploadFileModalTitle" 
    aria-hidden="true"
  >
    <div 
      class="modal-dialog modal-dialog-centered" 
      role="document"
    >
      <div 
        class="modal-content"
        {{ stimulus_controller('upload_file', { uploadUrl: uploadUrl }) }}
      >
        <div class="modal-header">
          <h5 
            class="modal-title" 
            id="uploadFileModalTitle"
          >
            {{ modalTitle|default('')|trans }}
          </h5>

          <a 
            href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
            data-turbo="false"
            type="button"
            class="btn-close"
            aria-label="Close"
            {{ stimulus_action('upload_file', 'handleCancel', 'click') }}
            {{ stimulus_target('upload_file', 'buttonClose') }}
          >
          </a>
        </div>

        <div class="modal-body">
          <input 
            type="file"
            class="form-control"
            {{ stimulus_action('upload_file', 'handleInputFileChange', 'change') }}
            {{ stimulus_target('upload_file', 'inputFile') }}
          />

          <div 
            class="d-none progress mt-2"
            {{ stimulus_target('upload_file', 'progress') }}
          >
            <div 
              class="progress-bar" 
              role="progressbar" 
              aria-valuenow="0" 
              aria-valuemin="0" 
              aria-valuemax="100"
              {{ stimulus_target('upload_file', 'progressBar') }}
            >
              0%
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
{% endblock %}

{% block column_truncated_text_value %}
  <span class="d-block text-truncate text-limit">
    {{ value }}
  </span>
{% endblock %}