{% block action_dropdown_value %}
  <div class="d-inline-block dropdown show">
    <a 
      class="dropdown-toggle {{ dropdownClass | default('btn btn-primary') }}" 
      role="button" 
      data-bs-toggle="dropdown" 
    >
      {{ dropdownLabel|trans }}
    </a>

    <div 
      class="dropdown-menu" 
    >
      {% for item in dropdownItems %}
        <a 
          class="dropdown-item"
          href="{{ item.href }}"
        >
          {{ item.label|trans }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block column_video_value %}
  <video 
      src="{{ path('app_video_watch', { id: videoId }) }}"
      width="384"
      height="216"
      controls
  >
  </video>
{% endblock %}