{% extends 'base.authenticated.html.twig' %}

{% block title %} 
    {{ 'templates.test.details.title'|trans }} 
{% endblock %}

{% block container %}
    <p class="h-6 text-muted">
        {{ 'templates.test.details.info'|trans({ '%moduleId%': test.module.id }) }}
    </p>

    <div class="mt-2">
        <a 
            href="{{ path('app_module_general', { id: test.module.id }) }}" 
            class="btn btn-primary" 
            role="button"
        >
            {{ 'templates.goToModule'|trans }}
        </a>

        {{ component('TriggerModal', {
            modalId: 'deleteTestModal',
            buttonClass: 'btn btn-danger',
            buttonBody: 'modal.delete'|trans,
        }) }}

        <div class="mt-2">
            {{ component('TestForm', { 
                moduleProp: test.module,
                testProp: test
            }) }}
        </div>
    </div>

    {{ component('Modal', {
        modalTargetId: 'deleteTestModal',
        actionButtonText: 'modal.delete'|trans,
        actionButtonClass: 'btn btn-danger',
        actionButtonHref: path('app_test_delete', {
            id: test.id,
        })
    }) }}
{% endblock %}
