{% extends 'base.html.twig' %}

{% block body %}
    <body 
        class="d-flex flex-column min-vh-100"
        {{ stimulus_controller('turbo-navigation') }}
    >
        <header>
            <nav 
                class="navbar navbar-expand-lg navbar"
            >
                <div class="container-fluid">
                    <a 
                        class="navbar-brand" 
                        href="{{ path('app_module_index') }}"
                    >
                        {{ 'templates.base.nav.navbar_brand'|trans }}
                    </a>

                    <button 
                        class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div 
                        class="collapse navbar-collapse" 
                        id="navbarNav"
                    >
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="{{ path('app_module_index') }}"
                                >
                                    {{ 'templates.base.nav.modules'|trans }}
                                </a>
                            </li>

                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="{{ path('app_test_index') }}"
                                >
                                    {{ 'templates.base.nav.tests'|trans }}
                                </a>
                            </li>

                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="{{ path('app_settings_general') }}"
                                >
                                    {{ 'templates.base.nav.settings'|trans }}
                                </a>
                            </li>
                        </ul>

                        <ul 
                            class="navbar-nav ms-auto mb-2 mb-lg-0"
                        >
                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="{{ path('app_auth_logout') }}" 
                                    data-turbo="false"
                                >
                                    {{ 'templates.base.nav.logout'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-grow-1">
            <div class="z-3 position-absolute top-0 start-50 translate-middle-x">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div 
                            class="alert alert-{{ type }} alert-dismissible fade show" 
                            role="alert"
                            {{ stimulus_controller('flash-message') }}
                        >
                            <small>{{ message }}</small>
                            <button 
                                class="btn-close" 
                                data-bs-dismiss="alert" 
                                aria-label="Close"
                            >
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="container-fluid">
                {% block container %}{% endblock %}
            </div>
        </main>

        <footer class="footer mt-auto p-1 border-top bg-light text-muted">
            <div class="container-fluid d-flex flex-column flex-md-row justify-content-between align-items-center text-footer">
                <div>
                    <span>&copy; 2025 <strong>Test Manager</strong></span>
                    <span class="badge bg-primary ms-2">{{ test_manager_version() }}</span>
                </div>
                <small class="mt-1">
                    Built with <span style="color: red;">❤️</span> by Arkadiusz Borkowski
                </small>
            </div>
        </footer>
    </body>
{% endblock %}