<div 
    {{ attributes }}
    class="modal fade"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
    id="{{ modalTargetId }}"
    tabindex="-1"
    aria-labelledby="{{ modalTargetId }}Label" 
    aria-hidden="true"
>
    <div 
        class="modal-dialog modal-dialog-centered" 
        role="document"
        {{ stimulus_controller('modal') }}
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 
                    class="modal-title" 
                    id="{{ modalTargetId }}Label"
                >
                    {{ modalTitle|default('modal.title'|trans) }}
                </h5>
                <button 
                    type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal" 
                    aria-label="Close"
                    {{ stimulus_target('modal', 'buttonClose' ) }}
                >
                </button>
            </div>

            <div class="modal-body">
                {{ modalBody|default('modal.body'|trans) }}
            </div>

            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-secondary" 
                    data-bs-dismiss="modal"
                    {{ stimulus_target('modal', 'buttonModalClose' ) }}
                >
                    {{ closeButtonText|default('modal.close'|trans) }}
                </button>

                <a 
                    href="{{ actionButtonHref }}"
                    class="{{ actionButtonClass|default('btn btn-primary') }}"
                    {{ stimulus_target('modal', 'buttonAction' ) }}
                    {{ stimulus_action('modal', 'handleAction', 'click' ) }}
                >
                    {{ actionButtonText }}
                </a>
            </div>
        </div>
    </div>
</div>