<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.language) }}

        <div class="mt-2">
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}
</div>
