<div {{ attributes }}>
    {{ form_start(form) }}

    <div class="my-4">
        {% for question in form.testQuestionSolves %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-primary">
                        {{ question.vars.data.content }}
                    </h3>
                    
                    <div class="list-group mt-3">
                        {% for answer in question.testAnswerSolves %}
                            <div class="list-group-item d-flex align-items-center">
                                {{ form_widget(answer.chosen) }}
                                <span class="ms-2">{{ answer.vars.data.content }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            {{ form_row(form.firstname) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.lastname) }}
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
        
        <div class="col-md-6">
            {{ form_row(form.workplace) }}
        </div>
    </div>

    <div class="col-md-6">
        {{ form_row(form.dateOfBirth) }}
    </div>

    <div class="col-12">
        {{ form_row(form.privacyPolicyConsent) }}
    </div>

    <div class="d-grid">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
</div>