<div 
    {{ attributes }} 
    class="container"
>
    {{ form_start(form) }}

    {% if not introduction_message() or not conclusion_message() %}
        <div class="alert alert-danger mt-2">
            <small>
                {{ 'templates.components.testSolveForm.testMessagesNotFound'|trans({ 
                    '%language%': app.request.getLocale()|trans|lower
                }) }}
            </small>
        </div>
    {% else %}
        <div class="alert alert-info mt-2">
            {{ introduction_message() }}
        </div>
    {% endif %}

    <div class="row mb-4">
        <div class="col-md-6">
            {{ form_row(form.firstname) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.lastname) }}
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
        
        <div class="col-md-6">
            {{ form_row(form.workplace) }}
        </div>
    </div>

    <div class="col-md-6">
        {{ form_row(form.dateOfBirth) }}
    </div>

    <div class="row justify-content-center my-4">
        {% for video in testProp.module.videos %}
            <div class="col-12">
                <video 
                    class="w-100 border rounded shadow-sm"
                    controls
                    src="{{ path('app_testsolve_video', { testId: testProp.id, videoId: video.id }) }}">
                </video>
            </div>
        {% endfor %}
    </div>

    <div class="my-4">
        {% for question in form.testQuestions %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-primary">
                        {{ question.vars.data.content }}
                    </h3>
                    
                    <div class="list-group mt-3">
                        {% for answer in question.testAnswers %}
                            <div class="list-group-item d-flex align-items-center">
                                {{ form_widget(answer.chosen) }}
                                <span class="ms-2">{{ answer.vars.data.content }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if conclusion_message() %}
        <div class="alert alert-success">
            {{ introduction_message() }}
        </div>
    {% endif %}

    <div class="d-grid">
        {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
</div>